In [72]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [73]:
movies_df = pd.read_csv('./MoviesOnStreamingPlatforms.csv')
movies_df=movies_df.iloc[:, 1:].set_index('ID')
movies_df.head()

,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
ID,,,,,,,,,
1,The Irishman,2019,18+,98/100,1,0,0,0,0
2,Dangal,2016,7+,97/100,1,0,0,0,0
3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
5,Roma,2018,18+,94/100,1,0,0,0,0

In [93]:
movies_df['Streaming platform']=''
for each_platform in ['Netflix', 'Hulu', 'Prime Video', 'Disney+']: 
    movies_df.loc[movies_df[each_platform]==1, 'Streaming platform']=each_platform

In [94]:
movies_df['Streaming platform'].value_counts()

Prime Video    4100
Netflix        3550
Hulu            943
Disney+         922
Name: Streaming platform, dtype: int64

In [78]:
for index, row in movies_df.iterrows():
    current_row = movies_df.loc[index, :]
    rt = current_row["Rotten Tomatoes"]
    if (type(rt) is not str):
        rt = "0/100"
    rating = float(rt.split('/')[0])
    current_row["Rotten Tomatoes"] = rating
    
    
movies_df.head()

,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Streaming platform
ID,,,,,,,,,,
1,The Irishman,2019,18+,98/100,1,0,0,0,0,Netflix
2,Dangal,2016,7+,97/100,1,0,0,0,0,Netflix
3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0,Netflix
4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0,Netflix
5,Roma,2018,18+,94/100,1,0,0,0,0,Netflix

# Which streaming platform offers recent movies?

In [98]:
year_data = []
for each_platform in ['Netflix', 'Hulu', 'Prime Video', 'Disney+']: 
    sum_videos = movies_df['Streaming platform'].value_counts()[each_platform]
    sum_years = movies_df[movies_df["Streaming platform"] == each_platform]["Year"].sum()
    avg_year = round(sum_years/sum_videos,2)
    year_data.append({"platform": each_platform, "year": avg_year})
    

print(year_data)

[{'platform': 'Netflix', 'year': 2014.95}, {'platform': 'Hulu', 'year': 2012.24}, {'platform': 'Prime Video', 'year': 2002.13}, {'platform': 'Disney+', 'year': 1997.03}]

In [ ]:
for each_platform in ['Netflix', 'Hulu', 'Prime Video', 'Disney+']: