In [5]:
import pandas as pd

In [7]:
movies_df = pd.read_csv('MoviesOnStreamingPlatforms.csv')
movies_df.head(10)
movies_df=movies_df.iloc[:, 1:].set_index('ID')
movies_df.head()

,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
ID,,,,,,,,,
1,The Irishman,2019,18+,98/100,1,0,0,0,0
2,Dangal,2016,7+,97/100,1,0,0,0,0
3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
5,Roma,2018,18+,94/100,1,0,0,0,0

In [10]:
# movies_df.value_counts()

Title                Year  Age  Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
#FriendButMarried 2  2020  16+  47/100           1        0     0            0        0       1
Shadow Company       2006  13+  44/100           0        0     1            0        0       1
Shaandaar            2015  13+  45/100           1        0     0            0        0       1
Sextuplets           2019  16+  55/100           1        0     0            0        0       1
Sex Drive            2008  18+  70/100           1        0     0            0        0       1
                                                                                             ..
Happy Hour           2003  16+  43/100           0        0     1            0        0       1
Happy Birthday       2016  18+  50/100           0        0     1            0        0       1
Happy Anniversary    2018  18+  55/100           1        0     0            0        0       1
Happiest Season      2020  13+  83/100           0        1     0            0        0       1
Ã†on Flux             2005  13+  68/100           0        0     1            0        0       1
Length: 5338, dtype: int64

In [8]:
# Iterate through each row
#   if Netflix == 1 then platform = 'Netflix'

movies_df['platform']=''
for each_platform in ['Netflix', 'Hulu', 'Prime Video', 'Disney+']: 
    movies_df.loc[movies_df[each_platform]==1, 'platform']=each_platform

In [9]:
movies_df['platform'].value_counts()

Prime Video    4100
Netflix        3550
Hulu            943
Disney+         922
Name: platform, dtype: int64

In [83]:
# for rate in movies_df['Rotten Tomatoes']:
#     rate = float(rate.split('/')[0])
    
movies_df['rating']=''
for row in movies_df.iterrows():
    row['rating'] = rate.split('/')[0]

movies_df.head()

AttributeError: 'float' object has no attribute 'split'